* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.full {
  display: flex;
  flex-direction: column;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.nevbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 50px;
  padding: 0 10px;
  font-weight: bold;
  box-shadow: 0 4px 16px #949494; 
}
.nevbar a {
  text-decoration: none;
}
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon a {
  color: black;
}
.icon img {
  width: 3em;
}
.menulist {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  border-left: 20px;
}
.menulist a {
  color: rgb(75, 75, 248);
}
.btndangnhap {
  background-color: #ff2424;
  border-color: transparent;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  color: white;
}
.btndangky {
  background-color: rgb(160, 160, 160);
  border-color: transparent;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  color: black;
}

.p1 {
  background-color: rgb(255, 0, 0);
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
}
.p2 {
  background-color: rgb(255, 0, 212);
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
    flex-shrink: 0;
}
.p3 {
  background-color: rgb(238, 255, 0);
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
    flex-shrink: 0;
}
.p4 {
  background-color: rgb(187, 4, 4);
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
    flex-shrink: 0;
}
.login {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
    flex-shrink: 0;
}